<div class="container">
  <div class="ui card">
    <h1>Team Generator</h1>

    <ul class="list">
      <li *ngFor="let member of members">{{ member }}</li>
    </ul>

    <div class="add-members-container">
      <input
        #memberInput
        type="text"
        placeholder="Name"
        (input)="handleInputChange(memberInput.value)"
        [value]="newMemberName"
      />
      <button (click)="addMember()">Add</button>
    </div>

    <div class="input-container">
      <input
        type="number"
        placeholder="# of teams"
        [(ngModel)]="numOfTeams"
      />
      <button (click)="generateTeams()">Generate</button>
    </div>
    <p class="error-msg" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>

  <div class="teams-container">
    <div class="team-container">
      <h3>Team 1</h3>
      <ul>
        <li>Michał S.</li>
        <li>Anna J.</li>
      </ul>
    </div>
  </div>
</div>